<style>
  .navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222 !important;
}

.search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
    border: none;
}

.search-btn:hover {
    background-color: #fe424d;
    color: #fff;
}

.search-btn i {
    display: inline;
    margin-right: 0.5rem;
}

.search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem;
    font-size: 1rem;
}

/* ONLY MOBILE FIX */
@media (max-width: 768px) {

    .navbar {
        height: auto;
    }

    .navbar-collapse {
        padding-top: 1rem;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-link {
        margin: 0.35rem 0;
    }

    form.d-flex {
        width: 100%;
        margin: 1rem 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .search-input {
        width: 100%;
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;
    }

    .search-btn {
        width: auto;
    }
}
</style>




<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <a class="nav-link" href="/listings">Explore</a>
       

      </div>
     <div class="d-flex justify-content-center my-2 flex-grow-1"></div>
    <form class="d-flex" action="/listings" method="GET">
     <input class="form-control me-2 search-input" type="search" name="search" placeholder="Search">
      <button class="btn search-btn" type="submit" ><i class="fa-solid fa-magnifying-glass"></i>Search</button>
      
    </form>
      </div>



      <div class="navbar-nav ms-auto">
         <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% const currUserSafe = (typeof currUser !== 'undefined') ? currUser : null; %>
        <% if(!currUserSafe){ %>
            <a class="nav-link "  href="/signup"><b>Sign Up</b></a>
             <a class="nav-link" href="/login"><b>Log in</b></a>
      <%  } %>

        <% if(currUserSafe){ %>
            <a class="nav-link" href="/logout"><b>Logout</b></a>
       <% } %>
        
      

      </div>
    </div>
  </div>
</nav>